.display {
    position: relative;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
        "operation operation operation"
        "equalSymbol result result";
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #5776E0;
}


.display--error {
    border: solid 1px red;
}


.display__recentOperation {
    position: relative;
    grid-area: operation;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: end;
    font-size: 20px;
    color: #A6B8EF;
    animation: solve .3s ease-in-out;
}


.display__recentOperation--animation {
    animation: displayRecentOperation .3s ease-in-out;
}


.display__transition {
    position: absolute;
    top: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-self: end;
    font-size: 35px;
    color: white;
    visibility: hidden;
}


.display__transition--animation {
    animation: displayTransition .8s ease-in-out;
}


.display__content {
    position: relative;
    grid-area: result;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: end;
    color: white;
    font-size: 35px;
    text-align: right;
}


.display__content--animation {
    animation: displayContent .3s ease-in-out;
}


.display__equalSymbol {
    grid-area: equalSymbol;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}


@keyframes displayRecentOperation {
    0% { top: 0; }
    100% { 
        top: -20px;
        opacity: 0;
    }
}


@keyframes displayTransition {
    0% { visibility: visible; }
    40% { 
        top: 15px;
        font-size: 20px;
        color: #A6B8EF;
    }
    100% {
        top: 15px;
        font-size: 20px;
        color: #A6B8EF;
    }
}


@keyframes displayContent {
    0% { 
        top: 50%;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}


@keyframes solve {
    0% { opacity: 0; }
    100% { opacity: 1; }
}