.calculator__keyPad {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.keypad__number {
    background-color: #ffffff;
    font-size: 20px;

    &:hover {
        background-color: #f0f0f0;
    }
}


.keypad__operation {
    background-color: #E7ECFD;
    color: #0284c7;
    font-weight: 700;
    font-size: 20px;

    &:hover {
        background-color: #cfd9fa;
    }
}


.keypad__delete {
    background: url('/src/assets/icons/CilDelete.svg') no-repeat center;
    background-size: 31%;
    background-color: #E7ECFD;

    &:hover {
        background-color: #cfd9fa;
    }
}


.keypad__clean {
    background-color: #FAD4CF;
    color: red;
    font-size: 20px;

    &:hover {
        background-color: #E47B46;
    }
}


.calculator__keyPad > button {
    transition: transform .1s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}